navbar

.container
  .row
    .col-lg-2
      label Number to graph: 
      input(ng-model="drawNum")
      button(ng-click="main.drawValue()") Draw
    .col-lg-8
      canvas#drawspace(width="800" height="600" style="border:0px solid #000000;")
    .col-lg-2
footer
